body {
	background-color: #003262 ;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.navbar-fixed-top {
	background-color: #46535E;
	text-align: center;
}

.main_menu .icon{
	color: #EEEEEE ;
	font-size:	3vh;
	line-height: 50px;
	margin-left: 0.25vw;
	margin-right: 0.25vw;
}

.content {
	color: #FDB515;
	display: table;
	margin: auto auto;
	font-size: 2vw;
}

.name {
	font-size: 10vw;
	margin: 0px 1em;
}

.about {
	color: #003262;
	width: 80%;
}

.edu {
	font-size: 2vw;
}

.code {
	color: #003262;
}

.contact {
	color: #00B0DA;
	width: 78%;
}

.contact a{
	font-size: 3vw;
	color: #1FD2FF;
}

.contact a:hover{
	color: #FDB515;
}

.contact .small_text{
	font-size: 2vw;
}

.subtitle {
	font-size: 4vw;
}

.contact_link_hover {
	color: #FDB515;
}

/*fullpage.jd extension*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span{
	background-color: #FFFFFF;
}