body {
	background-color: #003262 ;
}

.navbar-fixed-top {
	background-color: #46535E;
	text-align: center;
}

.main_menu .icon{
	color: #EEEEEE ;
	font-size:	3vh;
	line-height: 50px;
	margin-left: 0.25vw;
	margin-right: 0.25vw;
}

.content {
	color: #FDB515;
	display: table;
	margin: auto auto;
	font-size: 2vw;
}

.name {
	font-size: 10vw;
	margin: 0px 1em;
}

.about {
	color: #003262;
	width: 80%;
}

.edu {
	font-size: 2vw;
}

.code {
	color: #003262;
}

.contact {
	color: #00B0DA;
}

.contact i{
	color: #00B0DA;
	font-size: 3vw;
	line-height: 50px;
	margin-left: 0.25em;
	margin-right: 0.25em;
	margin-bottom: 0.2em;
	margin-top: 0.2em;
}

.contact .icon:hover {
	color: #FDB515;
}

.contact .username {
	font-size: 2.5vw;
}

.contact td{
	vertical-align: bottom;
}

.subtitle {
	font-size: 4vw;
}



/*fullpage.jd extension*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span{
	background-color: #FFFFFF;
}